/* This is the style sheet for the Food Wars Recipe website */

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.img1 {
    height: 600px;
    width: auto;
}

.heading {
    text-align: center;
    color:lightcoral;
    font-size: 40px;
}

.para {
    font-size: 18px;
}

.subheading {
    font-size: 22px;
    font-weight: 800;
}

.list {
    font-size: 20px;
    font-weight: 500;
}