body {
    background-color: lightyellow;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    border: 30px solid black;
}


.heading {
    text-align: center;
    color: orange;
    font-size: 40px;
}

.para {
    font-size: 18px;
}

.subheading {
    color: orange;
    font-size: 20px;
}

.instruction {
    font-size: 30px;
}

.result {
    color: orange;
}